/*  ================================================
	Author: Codeberry
	Name: Comet
	URL: https://codeberry.net/downloads/comet
	Version: 1.0
	================================================ */

/* Import fonts Roboto+Mono */
@import url("https://fonts.googleapis.com/css?family=Inconsolata:200,400");

/* 1. Content elements */
html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

body {
	animation-duration: 20s;
	animation-name: swapbkg1;
	/*animation-direction: alternate;*/
	animation-iteration-count: infinite;

	background: url('../../assets/img/bkg-sunriseclouds.jpg') no-repeat fixed left top;
	background-size: cover;

	font: 15px/1.5 "Rubik", Inconsolata, sans-serif;
	color: #ebebea;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes swapbkg1 {

  0% { 
	background: #333 url('../../assets/img/bkg-sunriseclouds.jpg') no-repeat fixed left top;
	background-size: cover;
  }
  25% { 
	background: #333 url('../../assets/img/bkg-sunriseclouds.jpg') no-repeat fixed left top;
	background-size: cover;
  }
  50% { 
	background: #333 url('../../assets/img/bkg-mexicobeachsunrise.jpg') no-repeat fixed left top;
	background-size: cover;
  }
  75% { 
	background: #333 url('../../assets/img/bkg-mexicobeachsunrise.jpg') no-repeat fixed left top;
	background-size: cover;
  }
  100% { 
	background: #333 url('../../assets/img/bkg-sunriseclouds.jpg') no-repeat fixed left top;
	background-size: cover;
  }
}


dd, dl, h1, p {
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-size: inherit;
	font-weight: 200;
	margin: 0;
	line-height: .8;
}

h2 {
	font-size: 1.25em;
  margin-top: 22px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

a {
	color: inherit;
	position: relative;
	border-bottom: 1px solid #f8f8f6;
	text-decoration: none;
}

a:hover, a:focus {
	color: #f3f3f3;
	border-bottom: 1px solid #194850;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}

.main-text {
	font: 200 20px/1 "Inconsolata", Helvetica, sans-serif;
}

.main-text-small {
	font-size: 15px;
}

.logo {
	background: url('../../assets/img/kimnema-white.png') no-repeat;
	background-position: top left, top left;
	background-repeat: no-repeat;
	background-size: auto, auto 100%;
	width: 366px;
    height: 181px;
	padding: 0;
	margin: 0;
}

@media (max-width: 600px) {
	.logo {
	background-size: 183px 90px;
	width: 183px;
    height: 90px;
	}
}

.section {
	z-index: 1;
	position: relative;
	padding: 96px 0 96px 96px;
	width: calc(100vw - 96px - 7em);
	display: -webkit-box;
	display: flex;
	box-sizing: border-box;
	min-height: 100vh;
}

@media (max-width: 1024px) {
	.section {
		padding: 48px 0 48px 48px;
		width: calc(100vw - 48px - 7em);
	}
}

@media (max-width: 950px) {
	.section {
		padding: 7.5vw;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.section {
		display: block;
		min-height: 0;
	}
}

.column-section {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

@media (max-width: 600px) {
	.column-section-main {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}

.section-bio {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.col-section {
	width: 100%;
	max-width: 382px;
}

@media (max-width: 600px) {
	.col-section {
		margin-bottom: 15vw;
	}
}

.callout {
  background-color: rgba(0,0,0,.5);
  padding: 1px 0 12px 20px;
  margin: 2em 0 2em 0;

}

.bio {
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 0;
	max-width: 700px;
}

@media (max-width: 600px) {
	.bio {
		padding-top: 15vw;
		font-size: 18px;
	}
}

.list {
	margin-top: 3.2em;
}

.list-item {
	margin-top: .25em;
	margin-bottom: 2em;
}

.list-item:last-child {
	margin-bottom: -.4em;
}

.scrunch {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.scrunch:after {
	/*background: #222222;*/
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.footer {
	position: fixed;
	right: 96px;
	bottom: 92px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: end;
	align-items: flex-end;
}

@media (max-width: 1024px) {
	.footer {
		right: 48px;
		bottom: 48px;
	}
}

@media (max-width: 950px) {
	.footer {
		position: relative;
		right: auto;
		bottom: auto;
		padding: 0 7.5vw 7.5vw;
		-webkit-box-align: start;
		align-items: flex-start;
	}
}

.footer-links {
	margin-top: 1em;
	line-height: 1;
}

@media (max-width: 950px) {
	.footer-links {
		display: inline;
	}
}

@media (hover: hover) {
	.footer-links:nth-child(odd):hover~.scrunch {
		background-color: rgba(0,0,0,20%);
	}

	.footer-links:nth-child(2n):hover~.scrunch {
		background-color: rgba(0,0,0,40%);
	}

	.link-email:hover~.scrunch:after {
		-webkit-animation: one 1s .25s linear forwards;
				animation: one 1s .25s linear forwards;
	}

	.link-behance:hover~.scrunch:after {
		-webkit-animation: two 1s .25s linear forwards;
				animation: two 1s .25s linear forwards;
	}

	.link-dribbble:hover~.scrunch:after {
		-webkit-animation: three 1s .25s linear forwards;
				animation: three 1s .25s linear forwards;
	}

	.link-linkedin:hover~.scrunch:after {
		-webkit-animation: four 1s .25s linear forwards;
				animation: four 1s .25s linear forwards;
	}

	.link-twitter:hover~.scrunch:after {
		-webkit-animation: five 1s .25s linear forwards;
				animation: five 1s .25s linear forwards;
	}

	.link-instagram:hover~.scrunch:after {
		-webkit-animation: six 1s .25s linear forwards;
				animation: six 1s .25s linear forwards;
	}

	.link-site:hover~.scrunch:after {
		-webkit-animation: seven 1s .25s linear forwards;
				animation: seven 1s .25s linear forwards;
	}
}






/* Styles the thumbnail */

a.lightbox { text-align: center; 
	border-bottom: none;
}
a.lightbox img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 20px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 10;
 
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
  
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
  overflow:scroll;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0;
}

